In [185]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [ ]:
'''Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape 
the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.'''

In [187]:
driver = webdriver.Chrome(r'/Users/mitssverma/Selenium/chromedriver')

In [188]:
url = 'https://www.naukri.com/'
driver.get(url)

In [189]:
search = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search.send_keys('Data Analyst')

In [190]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
loc.send_keys('Bangalore')

In [191]:
button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
button.click()

In [192]:
title = []
for i in driver.find_elements(By.XPATH,'//a[@class = "title fw500 ellipsis"]'):
    title.append(i.text)

In [193]:
location = []
for i in driver.find_elements(By.XPATH,'//li[@class = "fleft grey-text br2 placeHolderLi location"]'):
    location.append(i.text)

In [194]:
company = []
for i in driver.find_elements(By.XPATH,'//a[@class = "subTitle ellipsis fleft"]'):
    company.append(i.text)

In [195]:
exp = []
for i in driver.find_elements(By.XPATH,'//li[@class = "fleft grey-text br2 placeHolderLi experience"]'):
    exp.append(i.text)

In [196]:
nauk = pd.DataFrame({'Job-title':title, 'Location':location, 'Company Name':company, 'Experience':exp})
nauk[0:10]

,Job-title,Location,Company Name,Experience
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,2-5 Yrs
8,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs

In [ ]:
'''Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.'''

In [197]:
home = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/a')
home.click()

In [198]:
search = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search.send_keys('Data Scientist')

In [199]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
loc.send_keys('Bangalore')

In [200]:
button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
button.click()

In [201]:
title = []
for i in driver.find_elements(By.XPATH,'//a[@class = "title fw500 ellipsis"]'):
    title.append(i.text)

In [202]:
location = []
for i in driver.find_elements(By.XPATH,'//li[@class = "fleft grey-text br2 placeHolderLi location"]'):
    location.append(i.text)

In [203]:
company = []
for i in driver.find_elements(By.XPATH,'//a[@class = "subTitle ellipsis fleft"]'):
    company.append(i.text)

In [204]:
nau = pd.DataFrame({'Job-title':title, 'Location':location, 'Company Name':company})
nau[0:10]

,Job-title,Location,Company Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
8,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
9,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU

In [ ]:
'''Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.'''

In [205]:
driver = webdriver.Chrome(r'/Users/mitssverma/Selenium/chromedriver')
driver.get('https://www.naukri.com/')

In [206]:
search = driver.find_element(By.CLASS_NAME,"suggestor-input ")
button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.send_keys('Data Scientist')  
button.click()

In [207]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
loc.click()

In [208]:
sal = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
sal.click()

In [209]:
title = []
for i in driver.find_elements(By.XPATH,'//a[@class = "title fw500 ellipsis"]'):
    title.append(i.text)

In [210]:
location = []
for i in driver.find_elements(By.XPATH,'//li[@class = "fleft grey-text br2 placeHolderLi location"]'):
    location.append(i.text)

In [211]:
company = []
for i in driver.find_elements(By.XPATH,'//a[@class = "subTitle ellipsis fleft"]'):
    company.append(i.text)

In [212]:
exp = []
for i in driver.find_elements(By.XPATH,'//li[@class = "fleft grey-text br2 placeHolderLi experience"]'):
    exp.append(i.text)

In [213]:
nauk = pd.DataFrame({'Job-title':title, 'Location':location, 'Company Name':company, 'Experience':exp})
nauk[0:10]

,Job-title,Location,Company Name,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

In [ ]:
'''Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.'''

In [241]:
flip = webdriver.Chrome(r'/Users/mitssverma/Selenium/chromedriver')
flip.get('https://www.flipkart.com/')

In [242]:
close = flip.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [216]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sunglasses')
search.submit()

In [217]:
brand = []
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [218]:
descrp = []
for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
    descrp.append(i.text)

In [219]:
price = []
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [220]:
off = []
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [222]:
len(brand),len(descrp),len(price),len(off)

(40, 40, 45, 45)

In [221]:
nex = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
nex.click()

In [223]:
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [224]:
for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
    descrp.append(i.text)

In [225]:
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [226]:
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [227]:
len(brand),len(descrp),len(price),len(off)

(80, 80, 90, 90)

In [228]:
ne = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
ne.click()

In [229]:
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [230]:
for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
    descrp.append(i.text)

In [231]:
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [232]:
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [233]:
len(brand),len(descrp),len(price),len(off)

(120, 120, 135, 135)

In [234]:
flipkart = pd.DataFrame({'Brand Name':brand[0:100], "Decription":descrp[0:100], 'Price':price[0:100], 'Offer':off[0:100]})
flipkart

,Brand Name,Decription,Price,Offer
0,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
1,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
3,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
4,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
...,...,...,...,...
95,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹809,10% off
96,JustChhapo,Polarized Retro Square Sunglasses (Free Size),₹664,66% off
97,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",₹664,66% off
98,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹245,75% off
99,Fastrack,UV Protection Sports Sunglasses (Free Size),₹639,20% off

In [ ]:
'''Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.'''

In [243]:
home = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[1]/div/a[1]/img')
home.click()

In [244]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('iphone 11')
search.submit()

In [245]:
iphone = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[1]/div[1]/div/div/img')
iphone.click()

In [246]:
d = flip.window_handles[1]
flip.switch_to.window(d)

In [248]:
all_re = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
all_re.click()

In [249]:
star = []
comm = []
bri = []
for page in range(0,10):
    for i in flip.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        star.append(i.text)
        
    for i in flip.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        comm.append(i.text)
    
    for i in flip.find_elements(By.XPATH,'//div[@class = "t-ZTKy"]'):
        bri.append(i.text)

In [250]:
phone = pd.DataFrame({'Star':star, 'Comments':comm, 'Brief':bri})
phone

,Star,Comments,Brief
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

In [ ]:
'''Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
'''

In [251]:
flip.close()

In [252]:
s = flip.window_handles[0]
flip.switch_to.window(s)

In [253]:
home = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[1]/div/a[1]/img')
home.click()

In [254]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sneakers')
search.submit()

In [255]:
name,des,pir,off = [],[],[],[]
for page in range(0,3):
    for i in flip.find_elements(By.CLASS_NAME,'_2WkVRV'):
        name.append(i.text)
    
    for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
        des.append(i.text)
        
    for i in flip.find_elements(By.XPATH,'//div[@class = "_30jeq3"]'):
        pir.append(i.text)
    
    for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
        off.append(i.text)

In [256]:
len(name),len(des),len(pir),len(off)

(120, 120, 120, 135)

In [257]:
sneaker = pd.DataFrame({'Brand':name[0:100], 'Product Description':des[0:100], 'Price':pir[0:100], 'Offer':off[0:100]})
sneaker['Price and Offer'] = sneaker['Price'] +' and ' + sneaker['Offer']
sneaker.drop(columns = ['Price','Offer'],inplace=True)
sneaker

,Brand,Product Description,Price and Offer
0,ZF - ALFIYA,Sneakers For Men,₹449 and 55% off
1,FEWEYU,Fashionable casual sneaker shoes Sneakers For ...,₹499 and 75% off
2,WOODLAND,Sneakers For Men,"₹2,096 and 30% off"
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284 and 78% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299 and 76% off
...,...,...,...
95,CALCADOS,ultra light Comfertable Slip-On and lace-ups c...,₹625 and 50% off
96,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397 and 78% off
97,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹649 and 85% off
98,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,763 and 55% off"
99,Scull Wings,White & Black Sneakers For Men Casual Shoes Fo...,₹496 and 62% off

In [ ]:
'''Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop: 1. Title
2. Ratings 3. Price'''

In [275]:
driver = webdriver.Chrome(r'/Users/mitssverma/Selenium/chromedriver')
driver.get('https://www.amazon.in')

In [276]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptop')
search.submit()

In [278]:
core = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/div/label/i')
core.click()

In [279]:
name = []
for i in driver.find_elements(By.XPATH,'//a[@class = "a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]'):
    name.append(i.text)

In [280]:
rate = []
for i in driver.find_elements(By.XPATH,'//span[@class = "a-price-whole"]'):
    rate.append(i.text)

In [281]:
ss = []
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]'):
    ss.append(i.text)

In [282]:
len(rate),len(name),len(ss)

(30, 30, 22)

In [283]:
lap = pd.DataFrame({'Laptop Name': name[0:10], 'Price': rate[0:10], 'Rating' : ss[0:10]})
lap

                                         Laptop Name   Price Rating
0  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...  75,990      9
1  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...  73,990     21
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990     26
3  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  87,900      5
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  86,990     50
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...  79,990     16
6  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  85,499    143
7  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  82,990     14
8  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....  99,400      7
9  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  57,890    161

In [ ]:
'''Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.'''

In [82]:
driver1 = webdriver.Chrome(r'/Users/mitssverma/Selenium/chromedriver')

In [83]:
driver1.get('https://www.ambitionbox.com')

In [84]:
job = driver1.find_element(By.XPATH,'//a[@class = "link jobs"]')
driver1.get(job.get_attribute('href'))

In [85]:
search = driver1.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [87]:
se = driver1.find_element(By.XPATH,'//span[@class = "ctas-btn-medium"]')
se.click()

In [88]:
lo = driver1.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
lo.click()

In [89]:
selo = driver1.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
selo.send_keys('noida')

In [90]:
no = driver1.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
no.click()

In [91]:
company,time,rating = [],[],[]
for i in driver1.find_elements(By.XPATH,'//a[@class = "title noclick"]'):
    company.append(i.text)
    
for i in driver1.find_elements(By.XPATH,'//span[@class = "body-small-l"]'):
    time.append(i.text)
    
for i in driver1.find_elements(By.XPATH,'//span[@class = "body-small"]'):
    rating.append(i.text)

In [92]:
len(company),len(rating),len(time)

(10, 10, 20)

In [93]:
amiti = pd.DataFrame({'Company Name': company, 'Rating': rating, 'Time': time[0::2]})
amiti

                                        Company Name Rating     Time
0                              Senior Data Scientist    4.1   8d ago
1        Data Scientist- Forecasting and R or Python    4.0  15d ago
2  Data Scientist - Machine Learning Algorithms (...    4.3   6d ago
3  Data Scientist - Machine Learning/Big Data (0-...    3.9  13d ago
4  Info Edge - Data Scientist - Machine Learning/...    3.9  14d ago
5  Info Edge - Senior Data Scientist - Machine Le...    3.9  14d ago
6  LatentBridge - Data Scientist - Python/R (2-6 ...    4.5  14d ago
7  Data Science Trainer | AI | Machine Learning |...    3.8   1d ago
8  Principal Scientist - Machine Learning - IT (1...    3.9  28d ago
9                               Data Scientist - NLP    3.8  14d ago

In [ ]:
'''Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.'''

In [103]:
sal = driver1.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/div/div[1]/div/div[3]/a')
sal.click()

In [104]:
sea_sal = driver1.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
sea_sal.send_keys('Data Scientist')

In [105]:
da = driver1.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
da.click()

In [120]:
name,exp = [],[]
for i in driver1.find_elements(By.XPATH,'//div[@class = "company-info"]')[:10]:
    name.append(i.text.split('\n')[0])
    exp.append(i.text.split('\n')[2])

In [134]:
sal,avg = [],[]
for i in driver1.find_elements(By.XPATH,'//div[@class = "value body-medium"]'):
    sal.append(i.text)
minimum = sal[::2]
maximum = sal[1::2]

for i in driver1.find_elements(By.XPATH,'//p[@class = "averageCtc"]'):
    avg.append(i.text)

In [139]:
amiti_sal = pd.DataFrame({'Company Name':name, 'Experience':exp, 'Minimum Salary':minimum, 'Average Salary':avg, 'Maximum Salary':maximum})
amiti_sal

,Company Name,Experience,Minimum Salary,Average Salary,Maximum Salary
0,Walmart,3 yrs experience (based on 12 salaries),₹ 25.0L,₹ 30.6L,₹ 36.0L
1,Ab Inbev,3-4 yrs experience (based on 33 salaries),₹ 15.0L,₹ 20.8L,₹ 26.2L
2,ZS,2 yrs experience (based on 15 salaries),₹ 11.0L,₹ 16.7L,₹ 22.0L
3,Optum,3-4 yrs experience (based on 32 salaries),₹ 11.0L,₹ 15.9L,₹ 22.5L
4,Reliance Jio,3-4 yrs experience (based on 21 salaries),₹ 5.6L,₹ 15.7L,₹ 26.2L
5,Fractal Analytics,2-4 yrs experience (based on 89 salaries),₹ 10.0L,₹ 15.5L,₹ 23.0L
6,Tiger Analytics,2-4 yrs experience (based on 51 salaries),₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,2-4 yrs experience (based on 57 salaries),₹ 8.3L,₹ 14.0L,₹ 21.1L
8,EXL Service,3-4 yrs experience (based on 21 salaries),₹ 7.6L,₹ 13.2L,₹ 21.0L
9,Deloitte,2-4 yrs experience (based on 69 salaries),₹ 7.0L,₹ 12.8L,₹ 25.0L