In [ ]:
'''1.Write a python program to display all the header tags from wikipedia.org.'''

In [400]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [401]:
wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
wiki

In [402]:
con = BeautifulSoup(wiki.content)

In [403]:
head = []
for i in con.find_all('span',class_="mw-headline"):
    head.append(i.text)

In [404]:
header = pd.DataFrame({'Header Tags/Headlines':head})
header

           Header Tags/Headlines
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [ ]:
'''2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.'''

In [405]:
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
page

In [406]:
con = BeautifulSoup(page.content)

In [407]:
name = []
for i in con.find_all('h3',class_= "lister-item-header"):
    name.append(i.text.replace('\n','').split('.')[1].split('(')[0])

In [408]:
year = []
for i in con.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.replace('(','').replace(')',''))

In [409]:
rating = []
for i in con.find_all('div', class_ = "inline-block ratings-imdb-rating"):
    rating.append(i.text.replace('\n',''))

In [410]:
data = pd.DataFrame({'Name':name, 'Year of Release':year, 'Rating':rating})

In [411]:
page2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
page2

In [412]:
con1 = BeautifulSoup(page2.content)

In [413]:
name = []
for i in con1.find_all('h3',class_= "lister-item-header"):
    name.append(i.text.replace('\n','').split('.')[1].split('(')[0])

In [414]:
year = []
for i in con1.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.replace('(','').replace(')',''))

In [415]:
rating = []
for i in con1.find_all('div', class_ = "inline-block ratings-imdb-rating"):
    rating.append(i.text.replace('\n',''))

In [416]:
data1 = pd.DataFrame({'Name':name, 'Year of Release':year, 'Rating':rating})

In [954]:
main = pd.concat([data,data1],axis = 0)

In [953]:
main.reset_index()

,index,Name,Year of Release,Rating
0,0,The Shawshank Redemption,1994,9.3
1,1,The Godfather,1972,9.2
2,2,The Dark Knight,2008,9.0
3,3,The Lord of the Rings: The Return of the King,2003,9.0
4,4,Schindler's List,1993,9.0
...,...,...,...,...
95,45,North by Northwest,1959,8.3
96,46,Vertigo,1958,8.3
97,47,Singin' in the Rain,1952,8.3
98,48,Citizen Kane,1941,8.3
99,49,M - Eine Stadt sucht einen Mörder,1931,8.3

In [ ]:
'''3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.'''

In [418]:
hindi = requests.get('https://www.imdb.com/list/ls009997493/')
hindi

In [419]:
conn = BeautifulSoup(hindi.content)

In [420]:
name = []
for i in conn.find_all('h3',class_="lister-item-header"):
    name.append(i.text.replace('\n','').split('.')[1].split('(')[0])

In [421]:
rate = []
for i in conn.find_all('div',class_='ipl-rating-star small'):
    rate.append(i.text.replace('\n',''))

In [422]:
year = []
for i in conn.find_all('span', class_ = 'lister-item-year text-muted unbold'):
    year.append(i.text.replace('(','').replace(')',''))

In [423]:
data_hi = pd.DataFrame({'Name':name, 'Year':year, 'Rating':rate})
print('100 Top Rated IBDM Hindi Movies')
data_hi

100 Top Rated IBDM Hindi Movies

                      Name  Year Rating
0          Rang De Basanti  2006    8.1
1                 3 Idiots  2009    8.4
2         Taare Zameen Par  2007    8.3
3           Dil Chahta Hai  2001    8.1
4   Swades: We, the People  2004    8.1
..                     ...   ...    ...
95             Wake Up Sid  2009    7.6
96                Rangeela  1995    7.4
97     Shatranj Ke Khilari  1977    7.5
98      Pyaar Ka Punchnama  2011    7.6
99           Ek Hasina Thi  2004    7.5

[100 rows x 3 columns]

In [ ]:
'''4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm
'''

In [424]:
pre = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
pre

In [425]:
conn = BeautifulSoup(pre.content)

In [426]:
name = []
for i in conn.find_all('h3'):
    name.append(i.text)

In [427]:
import re
of = []
for i in conn.find_all('div',class_="presidentListing"):
    x = i.text.replace('\n','').split(')')[1].replace('Term of Office:','')
    y = re.sub(r"http\S+", "", x)
    of.append(y)

In [428]:
presi = pd.DataFrame({'Former Presidents':name, 'Term of Office':of})
print('Former Presidents List')
presi

Former Presidents List

,Former Presidents,Term of Office
0,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [253]:
'''5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.'''

In [894]:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
cri = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
cri

In [895]:
conn = BeautifulSoup(cri.content)

In [896]:
team = []
for i in conn.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
del team[10:]

In [897]:
rate = []
for i in conn.find_all('td',class_="table-body__cell u-text-right rating"):
    rate.append(i.text)
rate.insert(0,'125')
del rate[10:]

In [898]:
match = []
for i in conn.find_all('tr',class_="table-body"):
    match.append(i.text.split()[-3])
match.insert(0,'12')
del match[10:]

In [899]:
point = []
for i in conn.find_all('tr',class_="table-body"):
    point.append(i.text.split()[-2])
point.insert(0,'1505')
del point[10:]

In [906]:
oditeam = pd.DataFrame({'Team Name':team,'Matches':match, 'Points':point, 'Rating':rate})
print('\tTop 10 ODI Teams \t')
print('-'*30)
oditeam

	Top 10 ODI Teams
------------------------------

      Team Name Matches Points Rating
0   New Zealand      12   1505    125
1       England      21  2,621    125
2      Pakistan      19  2,005    106
3         India      22  2,304    105
4     Australia      22  2,182     99
5  South Africa      19  1,872     99
6    Bangladesh      24  2,275     95
7     Sri Lanka      28  2,609     93
8   West Indies      32  2,306     72
9   Afghanistan      18  1,238     69

In [907]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.
bat = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
bat

In [908]:
conn = BeautifulSoup(bat.content)

In [909]:
p = conn.find('td',class_="rankings-block__top-player-container")
pl = p.text.replace('\n','')
pl

'Babar Azam'

In [910]:
f = conn.find('div',class_="rankings-block__banner--nationality")
te = f.text.replace('\n','')
te

'PAK                    '

In [911]:
r =conn.find('td',class_="u-text-left")
po = r.text.replace('\n','')
po

'892'

In [913]:
player = []
for i in conn.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))

In [914]:
team = []
for i in conn.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)

In [915]:
point = []
for i in conn.find_all('td',class_="table-body__cell rating"):
    point.append(i.text)

In [916]:
batting = pd.DataFrame({'Player Name':player, 'Team':team, 'Points':point})

In [917]:
h = {'Player Name': pl,'Team':te,'Points':po}
vr = pd.Series(h)
vr

Player Name                 Babar Azam
Team           PAK
Points                             892
dtype: object

In [918]:
uh = pd.DataFrame([vr], index = [0])
batting = pd.concat([uh,batting])

In [964]:
print('\tTop 10 ODI Batsman \t')
print('-'*30)
batting.reset_index()[0:10]

	Top 10 ODI Batsman
------------------------------

   index            Player Name                     Team Points
0      0             Babar Azam  PAK                        892
1      0            Imam-ul-Haq                      PAK    815
2      1            Virat Kohli                      IND    811
3      2           Rohit Sharma                      IND    791
4      3        Quinton de Kock                       SA    789
5      4            Ross Taylor                       NZ    775
6      5  Rassie van der Dussen                       SA    769
7      6         Jonny Bairstow                      ENG    760
8      7           David Warner                      AUS    745
9      8            Aaron Finch                      AUS    727

In [920]:
#c) Top 10 ODI bowlers along with the records of their team and rating.
bowl = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bowl

In [921]:
conn = BeautifulSoup(bowl.content)

In [922]:
name = []
for i in conn.find_all('td',class_="table-body__cell rankings-table__name name"):
    name.append(i.text.replace('\n',''))
name.insert(0,'Trent Boult')

In [923]:
team = []
for i in conn.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,'NZ')

In [924]:
rat = []
for i in conn.find_all('td',class_="table-body__cell rating"):
    rat.append(i.text)
rat.insert(0,'726')

In [926]:
odibat = pd.DataFrame({'Bowler Name':name, 'Team':team, 'Rating':rat})
print('\tTop 10 ODI Bowler \t')
print('-'*30)
odibat[0:10]

	Top 10 ODI Bowler
------------------------------

        Bowler Name Team Rating
0       Trent Boult   NZ    726
1      Chris Woakes  ENG    686
2        Matt Henry   NZ    683
3    Shaheen Afridi  PAK    681
4    Jasprit Bumrah  IND    679
5  Mujeeb Ur Rahman  AFG    676
6    Josh Hazlewood  AUS    667
7      Mehedi Hasan  BAN    661
8     Mohammad Nabi  AFG    657
9   Shakib Al Hasan  BAN    657

In [ ]:
'''6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.'''

In [993]:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
odi = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
odi

In [994]:
conn = BeautifulSoup(odi.content)

In [995]:
team = []
for i in conn.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
del team[11:]

In [996]:
match = []
for i in conn.find_all('tr',class_="table-body"):
    match.append(i.text.split()[-3])
match.insert(0,'29')
del match[11:]

In [997]:
point = []
for i in conn.find_all('tr',class_="table-body"):
    point.append(i.text.split()[-2])
point.insert(0,'4,837')
del point[11:]

In [998]:
rate = []
for i in conn.find_all('td',class_="table-body__cell u-text-right rating"):
    rate.append(i.text)
rate.insert(0,'167')
del rate[11:]

In [1002]:
women = pd.DataFrame({'Team Name':team, 'Matches':match, 'Points':point, 'Rating':rate})
print('Top 10 ODI Teams Women')
print('-'*30)
women

Top 10 ODI Teams Women
------------------------------

       Team Name Matches Points Rating
0      Australia      29  4,837    167
1   South Africa      32  3,949    123
2        England      30  3,531    118
3          India      29  2,889    100
4    New Zealand      31  3,019     97
5    West Indies      30  2,768     92
6     Bangladesh      12    930     78
7       Pakistan      30  1,962     65
8      Sri Lanka       8    384     48
9        Ireland       8    351     44
10      Zimbabwe       8      0      0

In [939]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
bating = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
bating

In [940]:
conn = BeautifulSoup(bating.content)

In [941]:
player = []
for i in conn.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))
player.insert(0,'Alyssa Healy')
del player[10:]

In [942]:
team = []
for i in conn.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,'AUS')
del team[10:]

In [943]:
point = []
for i in conn.find_all('td',class_="table-body__cell rating"):
    point.append(i.text)
point.insert(0,'785')
del point[10:]

In [944]:
womenbat = pd.DataFrame({'Player Name':player, 'Team':team, 'Points':point})
print('Top 10 ODI Batting Women')
print('-'*30)
womenbat

Top 10 ODI Batting Women
------------------------------

         Player Name Team Points
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

In [945]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
womenbowl = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
womenbowl

In [946]:
conn = BeautifulSoup(womenbowl.content)

In [947]:
name = []
for i in conn.find_all('td',class_="table-body__cell rankings-table__name name"):
    name.append(i.text.replace('\n',''))
name.insert(0,'Sophie Ecclestone')

In [948]:
team = []
for i in conn.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,'ENG')

In [949]:
rat = []
for i in conn.find_all('td',class_="table-body__cell rating"):
    rat.append(i.text)
rat.insert(0,'771')

In [950]:
bowling = pd.DataFrame({'Player Name':name, 'Team':team, 'Rating':rat})
print('Top 10 ODI Bowling Women')
print('-'*30)
bowling[0:10]

Top 10 ODI Bowling Women
------------------------------

         Player Name Team Rating
0  Sophie Ecclestone  ENG    771
1     Shabnim Ismail   SA    755
2      Jess Jonassen  AUS    725
3       Megan Schutt  AUS    722
4     Ayabonga Khaka   SA    668
5     Jhulan Goswami  IND    663
6     Marizanne Kapp   SA    642
7     Anya Shrubsole  ENG    629
8         Kate Cross  ENG    617
9    Hayley Matthews   WI    612

In [ ]:
'''7.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world : 
i) Headline
ii) Time
iii) News Link'''

In [966]:
new = requests.get('https://www.cnbc.com/world/?region=world')
new

In [967]:
conn = BeautifulSoup(new.content, 'html.parser')

In [969]:
head = []
for i in conn.find_all('div',class_="RiverPlusCard-container"):
    head.append(i.text.split('•')[0])

In [970]:
link = []
for i in conn.find_all('div',class_="RiverPlusCard-container"):
    sub = i.find('a')
    link.append(sub.get('href'))

In [971]:
cnb = pd.DataFrame({'Headlines,Time':head,'Links':link})
cnb

,"Headlines,Time",Links
0,Russia wants to 'destroy the whole Donbas step...,https://www.cnbc.com/2022/06/23/russia-ukraine...
1,Bank of America likes these lesser-known stock...,/pro/
2,European leaders expected to formally accept U...,https://www.cnbc.com/2022/06/23/ukraines-eu-ca...
3,Musk says Tesla's factories in Berlin and Texa...,https://www.cnbc.com/2022/06/23/musk-says-tesl...
4,Here's what China's e-commerce giants are tell...,https://www.cnbc.com/2022/06/23/heres-what-chi...
5,China's Xi vows 'more forceful' tools to achie...,https://www.cnbc.com/2022/06/23/chinas-xi-vows...
6,World's largest hybrid ship set to ferry passe...,https://www.cnbc.com/2022/06/23/worlds-largest...
7,Amazon demonstrates Alexa mimicking the voice ...,https://www.cnbc.com/2022/06/22/amazon-demonst...
8,Euro zone bond yields plunge as business activ...,https://www.cnbc.com/2022/06/23/euro-zone-bond...
9,These bank stocks did well during the 1994 Fed...,/pro/
10,This 32-year-old has a toy business worth mill...,https://www.cnbc.com/2022/06/22/dc-comics-to-n...
11,Stocks inch lower as rally attempt on Wall Str...,https://www.cnbc.com/2022/06/21/stock-market-f...
12,Tim Cook gives clearest hint yet that Apple's ...,https://www.cnbc.com/2022/06/22/tim-cook-gives...
13,Kevin O’Leary reveals 1 important lesson that ...,https://www.cnbc.com/2022/06/23/kevin-oleary-e...
14,Chinese influencers must now have a qualificat...,https://www.cnbc.com/2022/06/23/china-livestre...
15,Southeast Asia's start-ups have fired hundreds...,https://www.cnbc.com/2022/06/23/southeast-asia...
16,Powell tells Congress the Fed is 'strongly com...,https://www.cnbc.com/2022/06/22/powell-tells-c...
17,Cramer says a 'bull market within a bear marke...,https://www.cnbc.com/2022/06/22/cramer-6-thing...

In [ ]:
'''8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL'''

In [516]:
ai = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
ai

In [517]:
conn = BeautifulSoup(ai.content)

In [582]:
paper = []
for i in conn.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper.append(i.text)

In [581]:
author = []
for i in conn.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)

In [580]:
date = []
for i in conn.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)

In [579]:
web = []
for i in conn.find_all('a',class_="sc-5smygv-0 nrDZj"):
    web.append(i.get('href'))

In [578]:
journal = pd.DataFrame({'Paper Title':paper, 'Author':author, 'Published Date':date, 'Paper URL':web})
journal

,Paper Title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [ ]:
'''9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL'''

In [984]:
dine = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dine

In [985]:
conn = BeautifulSoup(dine.content)

In [986]:
name = []
for i in conn.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text)

In [987]:
cuisine = []
for i in conn.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])

In [988]:
loc = []
for i in conn.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(i.text)

In [989]:
rating = []
for i in conn.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)

In [990]:
image = []
for i in conn.find_all('img',class_="no-img"):
    image.append(i['data-src'])

In [991]:
dineout = pd.DataFrame({'Restaurant Name':name, 'Cuisine':cuisine, 'Location':loc, 'Rating':rating, 'Image URL':image})
dineout

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
'''10. Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median'''

In [606]:
scholer = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
scholer

In [607]:
conn = BeautifulSoup(scholer.content)

In [620]:
publication = []
for i in conn.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

In [621]:
h5index = []
for i in conn.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5index.append(i.text)

In [622]:
h5median = []
for i in conn.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5median.append(i.text)

In [627]:
rank = []
for i in range(1,101):
    rank.append(i)

In [980]:
metrics = pd.DataFrame({'Publication':publication, 'h5-index':h5index,'h5-median':h5median}, index = rank)
metrics

                                           Publication h5-index h5-median
1                                               Nature      414       607
2                  The New England Journal of Medicine      410       704
3                                              Science      391       564
4    IEEE/CVF Conference on Computer Vision and Pat...      356       583
5                                           The Lancet      345       600
..                                                 ...      ...       ...
96                             Frontiers in Immunology      134       177
97                                               Small      134       173
98                                   Nature Immunology      133       210
99                                       JAMA Oncology      133       202
100                               The Lancet Neurology      133       200

[100 rows x 3 columns]